* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #0A0D0F;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #fff;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 60px;
}

.logo img{
    height: 40px;
    margin: auto;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}

nav a {
    margin-left: 35px;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    opacity: 0.85;
    transition: 0.3s;
}

nav a:hover {
    opacity: 1;
}

/* HERO */
.hero {
    text-align: center;
    margin-top: 150px;
    padding: 20px;
}

.hero-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("./img/fundo_coxinha2.png"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(0.35); 
    z-index: -1;
}

.hero h1 {
    margin-top: 15px;
    font-size: 58px;
    font-weight: 600;
}

.container {
    width: 100%;
    margin: 0 auto;
}


.conteudo {
    width: 100%;
    max-width: 1100px;
    margin-top: 32px;
    margin: 32px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

/*--------------- SGBD -----------------*/

.SGBD {
    background-color: #0A0D0F;
    color: white;
    border: 2px solid #e0a526;
    border-radius: 10px;
    padding: 60px;
    margin-top: 32px auto;
    margin: 32px;
    width: 95%;
    max-width: 1100px;
    text-align: center;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    transition: all 0.4s ease;
    transform: translateY(0);
}


.SGBD h1 {
    color: #e0a526;
    font-size: 36px;
    margin-bottom: 10px;
    font-weight: 700;
}

.SGBD p {
    background-color: #0A0D0F;
    color: white;
    border: 2px solid #e0a526;
    border-radius: 10px;
    padding: 60px;
    margin-top: 32px auto;
    margin: 32px;
    width: 95%;
    max-width: 1100px;
    text-align: center;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    transition: all 0.4s ease;
    transform: translateY(0);
}

.SGBD p:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.3);
}

.exemplo-SGBD {
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 900px;
    margin: 20px auto;
}

.exemplo-SGBD .col-esquerda h1{
    color: white;
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 10px;
}

.exemplo-SGBD img {
    width: 360px;
    height: auto;
    border-radius: 10px;
}

.exemplo-SGBD p {
    flex: 1; 
    text-align: right;
}

.exemplo2-SGBD {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 20px;
    max-width: 900px;
    margin: 20px auto;
}

.exemplo2-SGBD .col-direita h1{
    color: white;
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 10px;
}

.exemplo2-SGBD img {
    width: 360px;
    height: auto;
    border-radius: 10px;
}

.exemplo2-SGBD p {
    flex: 1; 
    text-align: left;
}


.exemplo3-SGBD {
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 900px;
    margin: 20px auto;
}

.exemplo3-SGBD .col-esquerda h1{
    color: white;
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 10px;
}

.exemplo3-SGBD img {
    width: 360px;
    height: auto;
    border-radius: 10px;
}

.exemplo3-SGBD p {
    flex: 1; 
    text-align: right
}

/* ------------ tipos --------------*/

.tipos-aplicacao {
    background-color: #0A0D0F;
    color: white;
    border: 2px solid #e0a526;
    border-radius: 10px;
    padding: 60px;
    margin-top: 32px auto;
    margin: 32px;
    width: 95%;
    max-width: 1100px;
    text-align: center;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    transition: all 0.4s ease;
    transform: translateY(0);
}


.tipos-aplicacao h1 {
    color: #e0a526;
    font-size: 36px;
    margin-bottom: 10px;
    font-weight: 700;
}

.tipos-aplicacao p {
    background-color: #0A0D0F;
    color: white;
    border: 2px solid #e0a526;
    border-radius: 10px;
    padding: 60px;
    margin-top: 32px auto;
    margin: 32px;
    width: 95%;
    max-width: 1100px;
    text-align: center;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    transition: all 0.4s ease;
    transform: translateY(0);
}

.tipos-aplicacao p:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.3);
}

.tipos-aplicacao h2{
    color: #e0a526;
    font-size: 36px;
    margin-bottom: 28px;
    font-weight: 700;
    text-align: left;
}

.tipos-aplicacao img {
    display: inline-flex;
    justify-content: start;  
    align-items: center;      
    gap: 30px;            
    overflow-x: auto;
    overflow-y: hidden; 
    padding: 20px 0; 
    white-space: nowrap;  
    width: 100%;
}

.tipos-aplicacao img {
    width: 300px;             
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    border: 2px solid #e0a526;
    background-color: #111a2b;
    padding: 5px;
    flex-shrink: 0;
}

.tipos-aplicacao img:hover {
    transform: scale(1.05);
}

/* ------------ dicionário de dados ---------------*/


.dicio-dados {
    background-color: #0A0D0F;
    color: white;
    border: 2px solid #e0a526;
    border-radius: 10px;
    padding: 60px;
    margin-top: 32px auto;
    margin: 32px;
    width: 95%;
    max-width: 1100px;
    text-align: center;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    transition: all 0.4s ease;
    transform: translateY(0);
}


.dicio-dados h1 {
    color: #e0a526;
    font-size: 36px;
    margin-bottom: 10px;
    font-weight: 700;
}

.dicio-dados p {
    background-color: #0A0D0F;
    color: white;
    border: 2px solid #e0a526;
    border-radius: 10px;
    padding: 60px;
    margin-top: 32px auto;
    margin: 32px;
    width: 95%;
    max-width: 1100px;
    text-align: center;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    transition: all 0.4s ease;
    transform: translateY(0);
}

.dicio-dados p:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.3);
}

.dicio-dados h2{
    color: #e0a526;
    font-size: 36px;
    margin-bottom: 28px;
    font-weight: 700;
    text-align: left;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin: 2rem 0;
    font-size: 1rem;
    background-color: #111111;
    color: #ffffff;
    text-align: center;
}

thead {
    background-color: #111a2b;
    color: #e0a526;
}

thead th {
    padding: 0.8rem;
    font-weight: bold;
    border: 1px solid #333333;
}

tbody td {
    padding: 0.8rem;
    border: 1px solid #333333;
}

tbody tr:nth-child(even) {
    background-color: #1a1a1a;
}

tbody tr:hover {
    background-color: #292929;
}

/*---------------- INT ------------------*/

.tipo-banco {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    flex-wrap: nowrap;
    margin: 40px auto;
    width: 90%;
}

.item {
    position: relative;
    width: 550px; 
    height: 300px;
    border-radius: 16px;
    overflow: hidden; 
    border: 3px solid #e0a526;
    cursor: pointer;
    flex-shrink: 0;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 16px;
    transition: 0.3s ease;
}

.texto-hover {
    position: absolute;
    inset: 0; 
    background: rgba(0,0,0,0.7);
    color: white;
    padding: 20px;
    font-size: 16px;
    text-align: center;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    transition: 0.4s ease;
}

.item:hover .texto-hover {
    opacity: 1;
}

.item:hover img {
    transform: scale(1.05);
}

/*------------ footer --------------*/

footer {
    color: white;
    text-align: center;
    padding: 2rem 0;
    margin-top: 3rem;
}

.cont-rodape p {
    margin-bottom: 0.5rem;
}

.cont-rodape p a{
    color: #e0a526;
    text-decoration: none;
}


@media (max-width: 768px) {
    .texto {
        padding: 25px;
    }

    .hero h1 {
        font-size: 32px;
    }

    header .logo {
        font-size: 22px;
    }
}